<body class="class1">
  <h3>Manage Products</h3>
  <table class="table" style="margin-bottom: 60px">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Manage</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <th scope="row">{{ product.id }}</th>
        <td>
          {{ product.name }}
        </td>
        <td>{{ product.price | currency }}</td>
        <td>
          <button
            class="btn btn-primary"
            style="margin-right: 2px"
            [routerLink]="['/updateproduct', product.id]"
          >
            Update
          </button>
          <button class="btn btn-danger" (click)="deleteProduct(product.id)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</body>
